###> symfony/framework-bundle ###
.DS_Store
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
